## Standart gitignore configuration file.
## Copyright (c) 2024, Toshi Namura

# 
/*

# git
!/.git/
!/.gitignore
!/LICENSE.txt
!/README.md

# server
!/banner-config/
!/mods/
!/bukkit.yml
!/commands.yml
!/help.yml
!/permissions.yml
!/server.properties
!/spigot.yml
!/fabric-server-launch.jar
!/server.jar

# config
!/config/
/config/*

## config/ae2
!/config/ae2/
/config/ae2/*
!/config/ae2/client.json
!/config/ae2/common.json

## config/bclib
!/config/bclib/
/config/bclib/*
!/config/bclib/biomes.json
!/config/bclib/cache.json
!/config/bclib/client.json
!/config/bclib/generator.json
!/config/bclib/main.json
!/config/bclib/server.json

## config/betterend
!/config/betterend/
/config/betterend/*
!/config/betterend/blocks.json
!/config/betterend/enchantments.json
!/config/betterend/entities.json
!/config/betterend/generator.json
!/config/betterend/items.json
!/config/betterend/portals.json

## config/betternether
!/config/betternether/
/config/betternether/*
!/config/betternether/biomes.json
!/config/betternether/blocks.json
!/config/betternether/generator.json
!/config/betternether/items.json
!/config/betternether/main.json
!/config/betternether/mobs.json

## config/chunky
!/config/chunky/
/config/chunky/*
!/config/chunky/config.json

## config/chunkyborder
!/config/chunkyborder/
/config/chunkyborder/*
!/config/chunkyborder/config.json

## config/indrev
!/config/indrev/
/config/indrev/*
!/config/indrev/cables.json
!/config/indrev/generators.json
!/config/indrev/hud.json
!/config/indrev/machines.json
!/config/indrev/mining_rig_config.json
!/config/indrev/oregen.json
!/config/indrev/upgrades.json

## config/inventorysorter
!/config/inventorysorter/
/config/inventorysorter/*
!/config/inventorysorter/blacklist.json5

## config/jade
!/config/jade/
/config/jade/*
!/config/jade/server-plugin-overrides.json
!/config/jade/sort-order.json

## config/openloader
!/config/openloader/
/config/openloader/*
!/config/openloader/advanced_options.json

## config/spark
!/config/spark/
/config/spark/*
!/config/spark/config.json

## config/
!/config/attributefix.json
!/config/botania-common.json5
!/config/connectivity.json
!/config/create-client.toml
!/config/create-common.toml
!/config/create-server.toml
!/config/createaddition-common.toml
!/config/create_dd-client.toml
!/config/create_dd-common.toml
!/config/create_dd-server.toml
!/config/create_enchantment_industry-server.toml
!/config/cupboard.json
!/config/debugify.json
!/config/deeperdarker.json5
!/config/dsbg-server.toml
# plugins
!/plugins/
/plugins/*
!/plugins/AuthMe-5.6.0.jar
!/plugins/BetterMessages-3.3.2.jar
!/plugins/CoreProtect-22.4.jar
!/plugins/LuckPerms-Bukkit-5.4.141.jar
!/plugins/LuckPrefix-1.2.3.jar
!/plugins/multiverse-core-4.3.12.jar
!/plugins/multiverse-inventories-4.2.6.jar
!/plugins/multiverse-netherportals-4.2.3.jar
!/plugins/multiverse-portals-4.2.3.jar
!/plugins/PlaceholderAPI-2.11.6.jar
!/plugins/ProtocolLib.jar
!/plugins/StayPut-2.0.0.jar
!/plugins/TAB v4.1.8.jar
!/plugins/Vanish.jar
!/plugins/VoidTeleporter-1.1.0.jar
!/plugins/worldedit-bukkit-7.3.1.jar
!/plugins/worldguard-bukkit-7.0.9-dist.jar

# libraries
!/libraries/
/libraries/*

!/libraries/net/
/libraries/net/*

!/libraries/net/fabricmc/
/libraries/net/fabricmc/*

!/libraries/net/fabricmc/fabric-loader/
/libraries/net/fabricmc/fabric-loader/*

!/libraries/net/fabricmc/fabric-loader/0.16.2/
/libraries/net/fabricmc/fabric-loader/0.16.2/*

!/libraries/net/fabricmc/fabric-loader/0.16.2/fabric-loader-0.16.2.jar

!/libraries/net/fabricmc/intermediary/
/libraries/net/fabricmc/intermediary/*

!/libraries/net/fabricmc/intermediary/1.20.1/
/libraries/net/fabricmc/intermediary/1.20.1/*

!/libraries/net/fabricmc/intermediary/1.20.1/intermediary-1.20.1.jar

!/libraries/net/fabricmc/sponge-mixin/
/libraries/net/fabricmc/sponge-mixin/*

!/libraries/net/fabricmc/sponge-mixin/0.15.2+mixin.0.8.7/
/libraries/net/fabricmc/sponge-mixin/0.15.2+mixin.0.8.7/*

!/libraries/net/fabricmc/sponge-mixin/0.15.2+mixin.0.8.7/sponge-mixin-0.15.2+mixin.0.8.7.jar

!/libraries/org/
/libraries/org/*

!/libraries/org/ow2/
/libraries/org/ow2/*

!/libraries/org/ow2/asm/
/libraries/org/ow2/asm/*

!/libraries/org/ow2/asm/asm/
/libraries/org/ow2/asm/asm/*

!/libraries/org/ow2/asm/asm/9.6/
/libraries/org/ow2/asm/asm/9.6/*

!/libraries/org/ow2/asm/asm/9.6/asm-9.6.jar

!/libraries/org/ow2/asm/asm-analysis/
/libraries/org/ow2/asm/asm-analysis/*

!/libraries/org/ow2/asm/asm-analysis/9.6/
/libraries/org/ow2/asm/asm-analysis/9.6/*

!/libraries/org/ow2/asm/asm-analysis/9.6/asm-analysis-9.6.jar

!/libraries/org/ow2/asm/asm-commons/
/libraries/org/ow2/asm/asm-commons/*

!/libraries/org/ow2/asm/asm-commons/9.6/
/libraries/org/ow2/asm/asm-commons/9.6/*

!/libraries/org/ow2/asm/asm-commons/9.6/asm-commons-9.6.jar

!/libraries/org/ow2/asm/asm-tree/
/libraries/org/ow2/asm/asm-tree/*

!/libraries/org/ow2/asm/asm-tree/9.6/
/libraries/org/ow2/asm/asm-tree/9.6/*

!/libraries/org/ow2/asm/asm-tree/9.6/asm-tree-9.6.jar

!/libraries/org/ow2/asm/asm-util/
/libraries/org/ow2/asm/asm-util/*

!/libraries/org/ow2/asm/asm-util/9.6/
/libraries/org/ow2/asm/asm-util/9.6/*

!/libraries/org/ow2/asm/asm-util/9.6/asm-util-9.6.jar