## Standart gitignore configuration file.
## Copyright (c) 2024, Toshi Namura

# Add to gitignore all files.
/*

# git exceptions
!/.git/
!/.gitignore
!/LICENSE.txt
!/README.md

# libraries
!/libraries/
/libraries/*

## libraries/net
!/libraries/net/
/libraries/net/*

## libraries/net/fabricmc
!/libraries/net/fabricmc/
/libraries/net/fabricmc/*

## libraries/net/fabricmc/fabric-loader
!/libraries/net/fabricmc/fabric-loader/
/libraries/net/fabricmc/fabric-loader/*

## libraries/net/fabricmc/fabric-loader/0.16.7
!/libraries/net/fabricmc/fabric-loader/0.16.7/
/libraries/net/fabricmc/fabric-loader/0.16.7/*
!/libraries/net/fabricmc/fabric-loader/0.16.7/fabric-loader-0.16.7.jar

## libraries/net/fabricmc/intermediary
!/libraries/net/fabricmc/intermediary/
/libraries/net/fabricmc/intermediary/*

## libraries/net/fabricmc/intermediary/1.21.1
!/libraries/net/fabricmc/intermediary/1.21.1/
/libraries/net/fabricmc/intermediary/1.21.1/*
!/libraries/net/fabricmc/intermediary/1.21.1/intermediary-1.21.1.jar

## libraries/net/fabricmc/sponge-mixin
!/libraries/net/fabricmc/sponge-mixin/
/libraries/net/fabricmc/sponge-mixin/*

## libraries/net/fabricmc/sponge-mixin/0.15.3+mixin.0.8.7
!/libraries/net/fabricmc/sponge-mixin/0.15.3+mixin.0.8.7/
/libraries/net/fabricmc/sponge-mixin/0.15.3+mixin.0.8.7/*
!/libraries/net/fabricmc/sponge-mixin/0.15.3+mixin.0.8.7/sponge-mixin-0.15.3+mixin.0.8.7.jar

## libraries/org
!/libraries/org/
/libraries/org/*

## libraries/org/ow2
!/libraries/org/ow2/
/libraries/org/ow2/*

## libraries/org/ow2/asm
!/libraries/org/ow2/asm/
/libraries/org/ow2/asm/*

## libraries/org/ow2/asm/asm
!/libraries/org/ow2/asm/asm/
/libraries/org/ow2/asm/asm/*

## libraries/org/ow2/asm/asm/9.7.1
!/libraries/org/ow2/asm/asm/9.7.1/
/libraries/org/ow2/asm/asm/9.7.1/*
!/libraries/org/ow2/asm/asm/9.7.1/asm-9.7.1.jar

## libraries/org/ow2/asm/asm-analysis
!/libraries/org/ow2/asm/asm-analysis/
/libraries/org/ow2/asm/asm-analysis/*

## libraries/org/ow2/asm/asm-analysis/9.7.1
!/libraries/org/ow2/asm/asm-analysis/9.7.1/
/libraries/org/ow2/asm/asm-analysis/9.7.1/*
!/libraries/org/ow2/asm/asm-analysis/9.7.1/asm-analysis-9.7.1.jar

## libraries/org/ow2/asm/asm-commons
!/libraries/org/ow2/asm/asm-commons/
/libraries/org/ow2/asm/asm-commons/*

## libraries/org/ow2/asm/asm-commons/9.7.1
!/libraries/org/ow2/asm/asm-commons/9.7.1/
/libraries/org/ow2/asm/asm-commons/9.7.1/*
!/libraries/org/ow2/asm/asm-commons/9.7.1/asm-commons-9.7.1.jar

## libraries/org/ow2/asm/asm-tree
!/libraries/org/ow2/asm/asm-tree/
/libraries/org/ow2/asm/asm-tree/*

## libraries/org/ow2/asm/asm-tree/9.7.1
!/libraries/org/ow2/asm/asm-tree/9.7.1/
/libraries/org/ow2/asm/asm-tree/9.7.1/*
!/libraries/org/ow2/asm/asm-tree/9.7.1/asm-tree-9.7.1.jar

## libraries/org/ow2/asm/asm-util
!/libraries/org/ow2/asm/asm-util/
/libraries/org/ow2/asm/asm-util/*

## libraries/org/ow2/asm/asm-util/9.7.1
!/libraries/org/ow2/asm/asm-util/9.7.1/
/libraries/org/ow2/asm/asm-util/9.7.1/*
!/libraries/org/ow2/asm/asm-util/9.7.1/asm-util-9.7.1.jar

# Client
!/mods/
!/fabric-server-launch.jar
!/server.jar